

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pesquisa de Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Pesquisar" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-item>
    <ion-label>Tipo de pesquisa</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">Todos</ion-select-option>
      <ion-select-option value="movie">Filme</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="episode">Episódio</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>

    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movie-details', item.imdbID]">
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ item.Title }}</h3>
        {{ item.Year }}
      </ion-label>

      <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon>

    </ion-item>

  </ion-list>

</ion-content>



<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Sair</ion-title>
  </ion-toolbar>
</ion-footer>